<html>
<head>
<title>Hello - Lighttpd - PHP - nixCraft - Test</title>
</head>
<body>
<h1>Hosshin - Zen monk</h1>
Zen monk poem:
<?php
    $zen_poem  = '<blockquote><em>';
    $zen_poem .= "Coming, all is clear,<br>";
    $zen_poem .= "no doubt about it.<br>";
    $zen_poem .= "Going, all is clear,<br>";
    $zen_poem .= "without a doubt.<br>";
    $zen_poem .= "What, then, is it all?";
    $zen_poem .= "</em></blockquote>";
    echo $zen_poem;
?>
<hr>
<h1>PHPINFO</h1>
<?php phpinfo(); ?>
<hr>
<center><small>&copy; nixCraft</small></center>
</body>
</html>

